@import url("https://fonts.googleapis.com/css2?family=Gantari&display=swap");

:root {
	--green: #99ff98;
	--yellow: #f0c86a;
	--orange: #ed7645;
	--red: #cd2654;
	--purple: #9e01a5;
}

body {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-family: "Gantari", sans-serif;
}

.flex-gap {
	gap: 20px;
}

.d-none {
	display: none;
}

.branding {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	padding: 10px;
	display: flex;
	align-items: center;
	width: fit-content;
}

.branding.bg {
	background-color: rgba(255, 255, 255, 0.92);
}

.branding img {
	width: 60px;
	padding-right: 10px;
}

.legend {
	position: absolute;
	right: 0;
	top: 0;
	width: 130px;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.92);
	padding: 10px;
	text-align: center;
}

.levels {
	color: #333;
}

.levels p {
	margin: 10px 0;
}

.levels p:first-child {
	margin-top: 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.levels p:last-child {
	margin-bottom: 0;
}

.green {
	background-color: var(--green);
}

.yellow {
	background-color: var(--yellow);
}

.orange {
	background-color: var(--orange);
	color: #fff;
}

.red {
	background-color: var(--red);
	color: #fff;
}

.purple {
	background-color: var(--purple);
	color: #fff;
}

.leaflet-div-icon {
	background-color: transparent;
	border: none;
}

.city-marker {
	width: max-content;
	background: rgba(255, 255, 255, 0.9);
	/* background: none; */
	/* text-shadow: 0px 0px 5px #fff; */
	color: black;
	font-size: 18px;
	text-transform: capitalize;
	/* font-weight: bold; */
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 3px;
	border-radius: 4px;
}

#messageDisplay {
	color: #333;
	font-size: 28px;
	width: fit-content;
	max-width: 600px;
}

#dateDisplay {
	color: #333;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 10px;
	text-align: center;
}

#map {
	width: 1000px;
	aspect-ratio: 16 / 9;
}
